services:
  - type: static_site
    name: nsleadprovider-frontend
    rootDir: frontend
    buildCommand: npm install && npm run build
    publishDir: dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
  - type: web
    name: nsleadprovider-backend
    env: node
    rootDir: backend
    buildCommand: npm install && npm run build
    startCommand: node dist/server.js
    healthCheckPath: /api/health
    envVars:
      - fromGroup: nsleadprovider-secrets
